.userform{
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    left: 400px;
    top: 30px;
    padding: 20px;
    box-shadow: rgb(220, 219, 219) 2px 2px 2px;
}

.inp{
    padding: 5px;
    margin: 2px;
}