.courseitem{
    position: fixed;
    left: 200px;
    top:20px;
    background-color: white;
    text-align: left;
    margin: 4px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: rgb(220, 219, 219) 2px 2px 2px;
    width: 400px;
}

.icon:hover{
    cursor: pointer;
}
.label{
    font-size: medium;
    font-weight: 800;
    margin: 4px;
    color: rgb(105, 103, 103);
    border-bottom: 1px solid rgb(211, 206, 206);
}

.items{
    width:300px;
    position: fixed;
    left: 300px;
    top: 0px;
    height: 400px;
    overflow: scroll;
    text-align: center;
    background-color: rgb(243 244 246);
}